<form method="post" data-remote="true" accept-charset="UTF-8" action="/{{type}}/{{id}}/comments" class="new_comment" style="display: block;"><input type="hidden" value="✓" name="utf8">
  <div class="form-group">
    <label for="comment_body">Комментарий</label>
    <textarea id="comment_body" name="comment[body]" class="form-control"></textarea>
  </div>
  <button class="btn btn-default cancel" type="submit" name="button">отмена</button> <input type="submit" class="btn btn-primary" value="сохранить" name="commit">
</form>