/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"


body
  padding-top: 70px

.starter-template
  padding: 40px 15px
  text-align: center


.container
  width: 1000px


.voting
  color: #999
  font-size: 15px
  margin-right: 20px
  margin-top: -17px
  .rating
    line-height: 16px
    text-align: center
    margin-top: -2px
  a
    color: #999
    text-decoration: none
  .voted
    color: green

.questions
  .question
    margin: 20px 0
    padding-top: 12px
    overflow: hidden
    > div
      float: left
    .controls
      margin-top: 10px
      a
        font-size: 12px
        margin-right: 5px

.wrap_comments
  overflow: hidden
  width: 100%
  margin: 10px 0 0 0px
  padding-left: 42px
  clear: left
  float: none
  a
    float: right
.comments
  margin-left: 15px
  .comment
    margin: 5px 0
    color: #999
.new_comment
  display: none

.question-detail
  .wrap
    overflow: hidden
    > div
      float: left
  .controls
    a
      margin-right: 5px
    .subscribed
      color: green
  .voting
    font-size: 22px
    margin-top: -1px
    .rating
      line-height: 25px
      margin-top: -4px

.answers
  .answer
    padding: 15px 10px 10px
    margin-bottom: 5px
    overflow: hidden
    > div
      float: left
    .controls
      a
        font-size: 13px
        margin-right: 7px
      .choose-best-answer
        color: green
  .edit_answer
    display: none
    margin-bottom: 20px
  .no-answers
    margin-bottom: 15px
  .best_answer
    background-color: #fcf8e3

.search_input
  button
    .caret
      margin-left: 3px