.voting
  = link_to '', polymorphic_path([votable, Vote], action: :like),
                                           class: 'like glyphicon glyphicon-triangle-top',
                                           remote: true,
                                           method: :post
  .rating = votable.rating

  = link_to '', polymorphic_path([votable, Vote], action: :dislike),
                                              class: 'dislike glyphicon glyphicon-triangle-bottom',
                                              remote: true,
                                              method: :post